<a href="https://colab.research.google.com/github/gaya935/Pythonlogee/blob/master/_notebooks/2021-05-26_1%ED%8C%80_%EB%82%A8%EA%B0%80%EC%97%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# list_name=[요소1,요소2,요소3,...,요소n]
# 여러개의 데이터 값을 하나의 변수에 담을 수 있는 자료구조
# 리스트안의 각 데이터를 '항목'또는 '요소'또는 item이라고 한다.
# 대괄호[]안에 각 요소를 쉽표(,)로 구분하여 표현한다.
# 리스트의 크기 = 리스트 요소의 갯수
# 인덱스는 0부터 시작하고, 마지막요소의 인덱스는 '리스트의 크기 -1'이다.

In [ ]:
mycalss=['넘버원','네카라쿠배삼파망']
fruits=['사과','오렌지','포도','수박','바나나']

# 리스트 안에는 어떠한 자료형도 포함시킬 수 있다.
# 숫자, 문자열 뿐 아니라 변수, 다른리스트도 저장할 수 있다.
# 하나의 리스트 안에 다양한 자료형을 혼합하여 포함시킬 수 있다.

n1 = 100
fruits = ['사과','딸기','바나나']
mylist = [n1,fruits,20,30,'슈퍼맨',True,[1,2,3]]
mylist

[100, ['사과', '딸기', '바나나'], 20, 30, '슈퍼맨', True, [1, 2, 3]]

In [ ]:
# 초기값이 있는 리스트 생성하기
# 리스트명=[요소1,요소2,...,요소N]
# 리스트명=list(range(시작값,끝값,간격))

list1=[1,2,3,4,5]
print(list1)

list2=list(range(1,6))
print(list2)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [ ]:
# 빈 리스트 생성하기
list3=[]
list4=list()

In [ ]:
# for문을 이용하여 리스트의 요소 출력하기
fruits=['사과','오렌지','포도','수박','바나나']
for fruit in fruits:     # for문을 사용해 리스트 안의 요소를 반복 출력하는 것.
    print(fruit)

사과
오렌지
포도
수박
바나나

In [ ]:
# 리스트 출력하기
fruits=['사과','오렌지','포도','수박','바나나']
for x in fruits:
    print(type(x))
    print(x)

<class 'str'>
사과
<class 'str'>
오렌지
<class 'str'>
포도
<class 'str'>
수박
<class 'str'>
바나나

In [ ]:
fruits = ['사과','오렌지','포도','수박','바나나']
for fruit in fruits:
    print(fruit,end=' ') # end는 각 list 내 원소들의 끝부분을 말함.(한 줄로 출력하고 싶을 때)

사과 오렌지 포도 수박 바나나

In [ ]:
# 리스트 요소 추출>인덱싱
# 리스트명[index]
# 음수 인덱스를 사용하여 리스트의 마지막 항목(-1)부터 접근할 수도 있다.

fruits=['사과','오렌지','포도','수박','바나나']
print(fruits[1],fruits[-3])

fruits=['사과','오렌지','포도',['수박','바나나']]
print(fruits[3])

fruits=[['사과','오렌지'],'포도',['수박','바나나']]
print(fruits[-2])

오렌지 포도
['수박', '바나나']
포도

In [ ]:
a=[1,2,3,4,5]
a[2]+a[-3]

6

In [ ]:
# 수박을 추출하려면?

fruits=['사과','오렌지',['포도','수박','바나나']]
fruits[2][1]

'수박'

In [ ]:
a = [1,2,['a','b',['life','is']]]
a[2][2][0]

'life'

In [ ]:
# 리스트 요소 추출>슬라이싱
# 리스트명[시작인덱스:끝인덱스]
# 단, 끝인덱스 요소는 포함하지 않음

nums=[1,2,3,4,5,6,7,8,9,10]
nums[-7:-2]

[4, 5, 6, 7, 8]

In [ ]:
nums=list(range(1,11))

# 시작인덱스 생략
print(nums[:3])
print(nums[0:3])

# 끝인덱스 생략
print(nums[3:])
print(nums[3:10])
print(nums[3:len(nums)])   # 리스트의 길이값 len

# 시작끝 인덱스 모두 생략
print(nums[:])
print(nums)

[1, 2, 3]
[1, 2, 3]
[4, 5, 6, 7, 8, 9, 10]
[4, 5, 6, 7, 8, 9, 10]
[4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# 특정 간격으로 슬라이싱
# 리스트명[시작인덱스:끝인덱스:간격]

nums=[1,2,3,4,5,6,7,8,9,10]
print(nums[1:9:2])

# 역순으로 항목 추출하기
# 리스트명[시작인덱스(뒤에서):끝인덱스(앞으로):간격(음수)]

nums=[1,2,3,4,5,6,7,8,9,10]
print(nums[::-2])

[2, 4, 6, 8]
[10, 8, 6, 4, 2]

In [ ]:
a=[1,2,3,['a','b','c'],4,5]
print(a[2:5])
print(a[-5:-3])
print(a[3][:2])

[3, ['a', 'b', 'c'], 4]
[2, 3]
['a', 'b']

In [ ]:
# 리스트 더하기

a=[1,2,3]
b=[4,5,6]
(a+b)

[1, 2, 3, 4, 5, 6]

In [ ]:
# 리스트 곱하기
# 요소값이 여러번 반복된 새로운 리스트를 만든다

a=[1,2,3]
b=a*3
print(b)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
# 리스트 크기(길이)구하기
# len(리스트명)  # 반복문 쓸때 사용

fruits=['사과','오렌지','포도','수박','바나나']
len(fruits)

5

In [ ]:
# 리스트 요소값 변경하기
# 지정한 인덱스의 요소값을 변경한다.
# 리스트명[index]=item

fruits=['사과','오렌지','포도','수박','바나나']
fruits[1]='망고'
print(fruits)

['사과', '망고', '포도', '수박', '바나나']

In [ ]:
# 인덱스에 변수나 수식을 사용할 수 있다.
# 인덱스 범위를 초과하면 안된다.(len값으로 길이 확인 후 변경)

fruits=['사과','오렌지','포도','수박','바나나']
k=1
fruits[k+2]='망고'
print(fruits)

fruits[5]='망고'

['사과', '오렌지', '포도', '망고', '바나나']

IndexError: ignored

In [ ]:
# 슬라이싱으로 여러 개의 항목을 한번에 변경하기
# 리스트명[시작인덱스:끝인덱스]=[item1,item2,...,itemN]

# 여러개의 항목 변경 - 슬라이싱 위치에 추가
fruits=['사과','오렌지','포도','수박','바나나']
fruits[1:2]=['수박','망고','키위']
print(fruits)

# 여러개의 항목 변경 - 슬라이싱 기호 사용하지 않으면 리스트 형태로 추가
fruits=['사과','오렌지','포도','수박','바나나']
fruits[1]=['수박','망고','키위']
print(fruits)

['사과', '수박', '망고', '키위', '포도', '수박', '바나나']
['사과', ['수박', '망고', '키위'], '포도', '수박', '바나나']

In [ ]:
# 리스트 요소 삭제하기
# del 리스트명[index] : 지정한 인덱스의 항목을 삭제한다. 위치 또는 범위를 지정 삭제 (속도가 가장 빠름)
# 리스트명.pop() : 지정한 위치 값을 삭제하고 삭제한 값 취득
# 리스트명.remove(요소) : 지정한 요소값과 같은 값을 검색한 후 처음 값을 삭제한다. 삭제하고자 하는 요소의 인덱스를 알 필요가 없다.
# clear() : 모든 요소 삭제

fruits=['사과','오렌지','포도','수박','바나나']
del fruits[3]
print(fruits)

fruits=['사과','오렌지','포도','수박','바나나']
del fruits[3:5]
print(fruits)

['사과', '오렌지', '포도', '바나나']
['사과', '오렌지', '포도']

In [ ]:
fruits=['사과','오렌지','포도','수박','바나나']
last_fruit=fruits.pop()
print(last_fruit)    # 마지막 요소 반환
print(fruits)

바나나
['사과', '오렌지', '포도', '수박']

In [ ]:
fruits=['사과','오렌지','포도','수박','바나나']
fruits.remove('바나나')
print(fruits)

# 해당 요소가 여러개인 경우 첫번째 만나는 요소만 삭제한다.
fruits=['사과','오렌지','바나나','포도','수박','바나나']
fruits.remove('바나나')
print(fruits)

['사과', '오렌지', '포도', '수박']
['사과', '오렌지', '포도', '수박', '바나나']

In [ ]:
fruits=['사과','오렌지','바나나','포도','수박','바나나']
바나나의 인덱스를 출력한 후
그 인덱스를 삭제하면
둘다 삭제 가능

인덱스 추출 어떻게..?

In [ ]:
fruits=['사과','오렌지','바나나','포도','수박','바나나']
pop_a = fruits.pop(2)
print(pop_a)
print(fruits)

바나나
['사과', '오렌지', '포도', '수박', '바나나']

In [ ]:
# 해당 요소가 리스트에 없으면 에러가 발생한다.
fruits=['사과','오렌지','바나나','포도','수박','바나나']
fruits.remove('망고')
prints(fruits)

ValueError: ignored

In [ ]:
# if로 검색 후 remove실행
fruits=['사과','오렌지','바나나','포도','수박','바나나']
if '망고' in fruits:
    fruits.remove('바나나')
fruits

['사과', '오렌지', '바나나', '포도', '수박', '바나나']

In [ ]:
# 리스트에 요소 추가
# 리스트명.append(요소)

fruits=['사과','오렌지','바나나','포도','수박','바나나']
fruits.append('복숭아')
fruits.append('파인애플')
fruits.append('배')
fruits.append('토마토')
fruits

['사과', '오렌지', '바나나', '포도', '수박', '바나나', '복숭아', '파인애플', '배', '토마토']

In [ ]:
member=[]
number=int(input('입력할 명수: '))
for a in range(number):
    member.append(input('이름을 입력하세요: '))
print(member)

입력할 명수: 5
이름을 입력하세요: 남
이름을 입력하세요: 장
이름을 입력하세요: 산
이름을 입력하세요: 정
이름을 입력하세요: 김
['남', '장', '산', '정', '김']

In [ ]:
# 리스트에 요소 삽입
# 리스트명.insert(인덱스,요소)

fruits=['사과','오렌지','바나나','포도','수박','바나나']
fruits.insert(2,'망고')
fruits

['사과', '오렌지', '망고딸기', '바나나', '포도', '수박', '바나나']

In [ ]:
# 리스트에 여러 요소 추가
# 리스트명.extend(리스트)

fruits=['사과','오렌지','바나나','포도','수박','바나나']
fruits.extend(['망고','복숭아'])
fruits

['사과', '오렌지', '바나나', '포도', '수박', '바나나', '망고', '복숭아']

In [ ]:
# 요소의 위치 찾기
# 리스트명.index(요소)

fruits=['사과','오렌지','바나나','포도','수박','바나나']
fruits.index('포도')

# 리스트에 요소가 존재하는지 검사 후 인덱스 찾기
fruits=['사과','오렌지','바나나','포도','수박','바나나']
if '사과' in fruits:
    print(fruits.index('사과'))
else:
    print('해당 요소가 존재하지 않음')

0

In [ ]:
# 멤버 연산자 in, not in

print(1 in (1,2,3,4,))
print(5 in [1,2,3,4])
print('p' in 'python')
print('a' in 'python')

True
False
True
False

In [ ]:
print(1 not in (1,2,3,4,))
print(5 not in [1,2,3,4])
print('p' not in 'python')
print('a' not in 'python')

False
True
False
True

In [ ]:
# 리스트에 요소가 존재하는지 검사 후 인덱스 찾기

fruits=['사과','오렌지','바나나','포도','수박','바나나']
fruit_name=input('과일이름: ')
if fruit_name in fruits:
    print(fruits.index(fruit_name))
else:
    print(f'{fruit_name} 내가 다 먹었지롱')

과일이름: 귤
귤 내가 다 먹었지롱

In [ ]:
# 특정 요소의 개수 추출
# 리스트명.count(요소)

fruits=['사과','오렌지','바나나','포도','수박','바나나']
fruits.count('바나나')

2

In [ ]:
fruits=['사과','오렌지','바나나','포도','수박','바나나']
fruit_name=input('과일이름: ')
if fruit_name in fruits:
    print(fruits.count(fruit_name))
else:
    print(f'{fruit_name} 내가 다 먹었지롱')

과일이름: 귤
귤 내가 다 먹었지롱

In [ ]:
# 리스트 정렬
# 원본 정렬 - 오름차순: 리스트명.sort(), 내림차순: 리스트명.sort(reverse=True)
# 원본은 그대로 두고 정렬된 새로운 리스트 반환
# 오름차순: sorted(리스트명), 내림차순: sorted(리스트명,reverse=True)

fruits=['사과','오렌지','바나나','포도','수박','바나나']
fruits.sort()
print(fruits)

fruits=['사과','오렌지','바나나','포도','수박','바나나']
sor_fruits=sorted(fruits,reverse=True)
print('원본:',fruits)
print('정렬:',sor_fruits)

['바나나', '바나나', '사과', '수박', '오렌지', '포도']
원본: ['사과', '오렌지', '바나나', '포도', '수박', '바나나']
정렬: ['포도', '오렌지', '수박', '사과', '바나나', '바나나']

In [ ]:
# 리스트 뒤집기

fruits=['사과','오렌지','바나나','포도','수박','바나나']
fruits.reverse()
print(fruits)

['바나나', '수박', '포도', '바나나', '오렌지', '사과']

In [ ]:
# 리스트에서 랜덤 항목 추출하기

import random
wise_saying = []
wise_saying.append('미래는 현재 우리가 무엇을 하고 있는가에 달려있다. - 마히트마 간디')
wise_saying.append('교육은 세상을 바꿀 수 있는 가장 강력힌 무기다 - 넬슨 만델리')
wise_saying.append('성공하기 위한 가장 확실한 방법은 한번 더 시도해 보는 것이다 - 토마스에디슨')
wise_saying.append('가장 불만에 가득찬 고객은 가장 위대한 배움의 원천이다 _ 빌 게이츠')
wise_saying.append('영원히 살 것처럼 꿈꾸고 오믈 죽을 것처럼 살아라 - 제임스딘')
wise_saying.append('경쟁우위가 없다면 경쟁하지 마라 - 잭윌치')
wise_saying.append('삶에 실수는 없고, 배움만이 있을 뿐이다. - 지아드 압델 누어')
wise_saying.append('어제와 똑같은 삶을 살면서 다른 미래를 기대하는 것은 정신병의 초기증세이다 -아인슈타인')
wise_saying.append('문제점을 찾지 말고 해결책을 찾으라 - 헨리포드')
wise_saying.append('실수를 해보지 않은 사람은 한번도 새로운 일을 시도해보지 않았던 사람이다 -아인슈타인')
print(random.choice(wise_saying))
print(random.sample(wise_saying,2))

문제점을 찾지 말고 해결책을 찾으라 - 헨리포드
['미래는 현재 우리가 무엇을 하고 있는가에 달려있다. - 마히트마 간디', '삶에 실수는 없고, 배움만이 있을 뿐이다. - 지아드 압델 누어']

In [ ]:
# 리스트 합계, 최대값, 최소값 구하기

a=[1,2,3,4,5]
b=['a','b','c','d','e']
c=['상추','가지','배추','오이','당근']

print(sum(a))
print(max(b))
print(min(c))

15
e
가지

In [ ]:
# 사용자로부터 5개의 숫자를 입력받아 리스트에 저장하고 숫자들의 합계와 평균을 계산하여 출력하는 프로그랩 작성

num=[]
for a in range(5):
    num.append(int(input('숫자를 입력하세요: ')))
print(num)
print('-'*50)
print('합계는',sum(num),'평균은',sum(num)/len(num),'입니다.')

숫자를 입력하세요: 5
숫자를 입력하세요: 4
숫자를 입력하세요: 8
숫자를 입력하세요: 9
숫자를 입력하세요: 1
[5, 4, 8, 9, 1]
--------------------------------------------------
합계는 27 평균은 5.4 입니다.

In [ ]:
num_list=[]
for i in range(5):
    number=int(input('숫자:'))
    num_list.append(numner)
if

SyntaxError: ignored