<a href="https://colab.research.google.com/github/gaya935/Pythonlogee/blob/master/_notebooks/2021_05_24_1%ED%8C%80_%EB%82%A8%EA%B0%80%EC%97%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 기본 에러문구

In [ ]:
# 기본 에러문구
안녕하세요

NameError: ignored

In [ ]:
"TEST'

SyntaxError: ignored

In [ ]:
# 변수명 에러 유형
1st = '첫번째'
f**t = '첫번째'
f^st = '첫번째'
Temp = 1000
print(temp)
print = '출력합니다'
print(print)

SyntaxError: ignored

In [ ]:
# 객체의 자료형 확인 type()
a=5
b=3.14
c='3.14'
d="3.14"
e=-3.14
f='abcd'+'가나다라'
g='123'*3
print (type(a),type(b),type(c),type(d),type(e),type(f),type(g))

<class 'int'> <class 'float'> <class 'str'> <class 'str'> <class 'float'> <class 'str'> <class 'str'>

# 기본 사칙연산

In [ ]:
# 파이썬으로 사칙 연산이나 문자열 연산도 가능합니다.
# 하지만 계산 후 결과값은 일회성으로 보여지기만 합니다.
# 결과나 과정, 변환된 값을 유지해야 하는 경우 프로그램에서 변수가 필요합니다.
print(100+200)
print("Hello World!")

300
Hello World!

In [ ]:
temp=100
temp

100

In [ ]:
temp2=200
print(temp2)

200

In [ ]:
temp3=temp+temp2
temp3

300

# List 기초

In [ ]:
# list1 배열을 만들고 그 안에 여러 값을 넣습니다.
list1=[1,2,3,4,5,6,7,8,9,10]
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
len(list1)

10

In [ ]:
print(list1[0])
print(list1[-1])
#list1 배열의 마지막 원소값을 문자열과 함께 출력
print('list1 배열의 마지막 원소값은 '+str(list1[-1])+'입니다')

1
10
list1 배열의 마지막 원소값은 10입니다

In [ ]:
print(list1[2:6])    # 배열의 인덱스 2번부터 6번 앞까지 출력
print(list1[2:])
print(list1[:6])
print(list1[:-1])

[3, 4, 5, 6]
[3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# list(range(횟수))
# list(range(시작, 끝))
# list(range(시작, 끝, 증가폭))
list_rg1=list(range(11))
list_rg2=list(range(5,12))
list_rg3=list(range(-4,5,2))
list_rg4=list(range(20,-1,-1))
list_rg5=list('hello world')
print("list_rg1은",list_rg1)
print("list_rg2은",list_rg2)
print("list_rg3은",list_rg3)
print("list_rg4은",list_rg4)
print("list_rg5은",list_rg5)

list_rg1은 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list_rg2은 [5, 6, 7, 8, 9, 10, 11]
list_rg3은 [-4, -2, 0, 2, 4]
list_rg4은 [20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
list_rg5은 ['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [ ]:
# 요소의 값 할당하기, 삭제하기

list_rg5=list('hello world')
list_rg5[0]='H'

print("list_rg5의 0번째 요소 대문자로 수정",list_rg5)
del list_rg5[5]
print("list_rg5의 5번째 요소 삭제",list_rg5)

list_rg5의 0번째 요소 대문자로 수정 ['H', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']
list_rg5의 5번째 요소 삭제 ['H', 'e', 'l', 'l', 'o', 'w', 'o', 'r', 'l', 'd']

In [ ]:
for i in range(0,3,1):
    print("안녕하세요? for 문을 공부 중입니다.^^")

안녕하세요? for 문을 공부 중입니다.^^
안녕하세요? for 문을 공부 중입니다.^^
안녕하세요? for 문을 공부 중입니다.^^

In [ ]:
for x in range(5):
    print(x)

0
1
2
3
4

In [ ]:
for x in range(2,4):  #숫자 2부터 숫자 4의 '앞'숫자까지. 
    print(x)

2
3

In [ ]:
list2=[]
for x in range(0,10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# 문제 : 
# 1) 변수는 3개 사용한다. (합계 = 0, 시작값 = 1, 끝값 = 11)
# 2) 시작값에서 끝값-1까지 인덱스 값을 바꾸면서 반복한다.
# 3) 합계값에 인덱스를 더한다.
# 4) 반복이 끝나면 '-'값을 50번 출력한다.
# 5) 합계와 인덱스 값을 출력한다.

test_sum=0
a=1
b=11
for x in range(a,b):
    test_sum+=x
    print("x:",x,"sum:",test_sum)
print('_'*50)
print(a,'부터',b-1,'까지 더한 총합은',test_sum,'입니다')

x: 1 sum: 1
x: 2 sum: 3
x: 3 sum: 6
x: 4 sum: 10
x: 5 sum: 15
x: 6 sum: 21
x: 7 sum: 28
x: 8 sum: 36
x: 9 sum: 45
x: 10 sum: 55
__________________________________________________
1 부터 10 까지 더한 총합은 55 입니다

In [ ]:
# 무작위 수를 발생시키는 모듈을 import합니다
# 조원 닉네임 리스트를 만듭니다
# 0부터 조원수-1까지 임의의 수를 발생시킵니다
# 임의의 수를 인덱스 값으로 닉네임 리스트의 원소를 출력합니다

import random

nick_name = ['Alex', 'Sophie', 'Annie', 'Zoey', 'Sunny', 'Paul']

for x in range(1):
    a = random.randint(0,5)
    
print('발표할 사람은', nick_name[a], '입니다')

발표할 사람은 Annie 입니다

In [ ]:
from random import sample

list_member=['Alex','Sophie','Annie','Zoey','Sunny','Paul']

print('발표자는', sample(list_member,2),'입니다')

발표자는 ['Sunny', 'Alex'] 입니다

In [ ]:
list1=['one','two','three']
for i in list1:
    print(i)

# ['one', 'two', 'three'] 리스트의 첫 번째 요소인 'one'이 먼저 i 변수에 대입된 후 print(i) 문장을 수행한다. 
# 다음에 두 번째 요소 'two'가 i 변수에 대입된 후 print(i) 문장을 수행하고 리스트의 마지막 요소까지 이것을 반복한다.

one
two
three

In [ ]:
a=[(1,2),(3,4),(5,6)]
for (first,last) in a:
    print(first+last)

# 위 예는 a 리스트의 요솟값이 튜플이기 때문에 각각의 요소가 자동으로 (first, last) 변수에 대입된다.

3
7
11