<a href="https://colab.research.google.com/github/gaya935/Pythonlogee/blob/master/_notebooks/2021-05-25_1%ED%8C%80_%EB%82%A8%EA%B0%80%EC%97%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 기초 문법

In [ ]:
# 파이썬에서는 들여쓰기 자체가 문법
print('hello, python1!!')
 print('hello, python2!!')

IndentationError: ignored

In [ ]:
if a<0:
print(test1)

IndentationError: ignored

In [ ]:
# int(정수)
n=1
print(n)
print(type(n)) #데이터형. 변수의 형태 확인방법.
print(id(n))   #데이터 주소. 변수의 주소 확인방법.

1
<class 'int'>
94895955180032

In [ ]:
# float(실수)
n=1.0
print(n)
print(type(n))
print(id(n))

1.0
<class 'float'>
140435992494320

In [ ]:
# str(문자열)
n="hi"
print(n)
print(type(n))
print(id(n))

hi
<class 'str'>
140436625859568

In [ ]:
# bool형
n=True
print(n)
print(type(n))
print(id(n))

True
<class 'bool'>
94895954505984

In [ ]:
# 리스트
n=[1,2,3]
print(n)
print(type(n))
print(id(n))

[1, 2, 3]
<class 'list'>
140435925698192

In [ ]:
# 튜플
n=(1,2,3)
print(n)
print(type(n))
print(id(n))

(1, 2, 3)
<class 'tuple'>
140435925570336

In [ ]:
# dict{딕셔너리: }
n={'name':'john','age':15}
print(n)
print(type(n))
print(id(n))

{'name': 'john', 'age': 15}
<class 'dict'>
140435925182896

In [ ]:
# 집합
n={'apple','orange','orange','banana'}
print(n)
print(type(n))
print(id(n))

{'banana', 'orange', 'apple'}
<class 'set'>
140435926018000

In [ ]:
# 문자열 쓰기
a="시간은 '금'이다"
b='시간은 "금"이다'
c='시간은 '금'이다'
print(a)
print(b)
print(c)

SyntaxError: ignored

In [ ]:
a='''자세히 보아야 예쁘다.
오래 보아야 사랑스럽다.
너도 그렇다.'''
print(a)

자세히 보아야 예쁘다.
오래 보아야 사랑스럽다.
너도 그렇다.

In [ ]:
a="'낮말'은 새가 듣고 '밤말'은 쥐가 듣는다"
b='"시간은 금"이라는 말이 있다'
print(a)
print(b)

'낮말'은 새가 듣고 '밤말'은 쥐가 듣는다
"시간은 금"이라는 말이 있다

In [ ]:
#부울형
a=1>2
print(a)
a=1<2
print(a)

False
True

# 기본 연산

In [ ]:
# 숫자와 문자열
a,b=10,20
print(a+b)

30

In [ ]:
a,b="10","20"
print(a+b)

1020

In [ ]:
# 숫자와 문자는 연산되지 않는다.
a,b="10",20
print(a+b)

TypeError: ignored

In [ ]:
a,b=10.0,20
print(a+b)

30.0

In [ ]:
# 형 변환
a,b=10,"20"
print(a+int(b))

a,b=10,20
print(str(a)+str(b))

a,b=10,20
print(float(a)+float(b))

30
1020
30.0

# 변수 입력받아 출력하기

In [ ]:
# input으로 입력받은 값은 문자열타입이다.
name=input('이름을 입력하세요: ')
print(name,'님 안녕하세요?')

이름을 입력하세요: 300
300 님 안녕하세요?

In [ ]:
print(5)
print(0.5)
print('Hi')
print('10')

print(1+2)
print(2>3)
print(2<3)

a=1
print(a)
print(a+1)

# 출력 구분값 쉼표 사용
print('Hello','World')
print('1 더하기 2는',1+2)
age=10
print('나는',age,'살입니다.')

5
0.5
Hi
10
3
False
True
1
2
Hello World
1 더하기 2는 3
나는 10 살입니다.

In [ ]:
# f스트링 문장 사이 변수값을 출력할 때 사용

name=input('이름을 입력하세요: ')
print(f'{name}님 안녕하세요?')

이름을 입력하세요: 파이썬
파이썬님 안녕하세요?

In [ ]:
print('두 수를 입력받아 더하는 프로그램입니다.')
num1=input('첫번째 숫자를 입력하세요: ')
num2=input('두번째 숫자를 입력하세요: ')

print(f'{num1} + {num2} = {int(num1)+int(num2)}')

두 수를 입력받아 더하는 프로그램입니다.
첫번째 숫자를 입력하세요: 15
두번째 숫자를 입력하세요: 25
15 + 25 = 40

# 산술연산

In [ ]:
# 산술연산
# 인수가 0이면 오류발생

x=100
y=5

print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x//y) # 몫의 정수 부분만
print(x%y)  # 나누기의 나머지
print(-x)
print(+x)
print(x**y) # 제곱

105
95
500
20.0
20
0
-100
100
10000000000

# 예제

In [ ]:
# 화씨 온도를 받아서 섭씨온도로 바꾸는 프로그램

f=int(input('화씨온도: '))
print('섭씨온도: ',(f-32)*5/9)

화씨온도: 30
섭씨온도:  -1.1111111111111112

In [ ]:
# 삼각형의 넓이

a=float(input('밑변:'))
b=float(input('높이:'))

print('삼각형의 넓이:',(a*b)/2)

밑변:6.5
높이:5
삼각형의 넓이: 16.25

In [ ]:
print(f'삼각형의 넓이: {(float(input("밑변: "))*float(input("높이: ")))/2}')

밑변: 5
높이: 6
삼각형의 넓이: 15.0

In [ ]:
# 원의 넓이 구하기

r=float(input('원의 반지름: '))
p=3.14
print(f'원의 둘레:{2*p*r} 원의 넓이:{p*(r**2)}')

원의 반지름: 5
원의 둘레:31.400000000000002 원의 넓이:78.5

# 복합할당연산자

In [ ]:
# 복합할당연산자

a=8

a+=3 # (a=a+3)
a-=3 # (a=a-3)
a*=3 # (a=a*3)
a/=3 # (a=a/3)
a**=3 # (a=a**3)
a//=3 # (a=a//3)
a%=3 # (a=a%3)

In [ ]:
x=10
x +=20
print(x)

30

In [ ]:
x=3
y=5
x *= x + y
x = x*(x+y)
print(x)

24

# 문자열

In [ ]:
# 문자열 반복하기
s='ha'
print(s*5)

hahahahaha

In [ ]:
# 문자열 연결하기

name=input('이름을 입력하세요: ')
greet=name+'님, 안녕하세요'
print(greet)

이름을 입력하세요: skark93
skark93님, 안녕하세요

In [ ]:
# 문자열 연결시 숫자 포함

english=80
result='영어점수: ' + str(english) + '점'
print(result)

영어점수: 80점

# 예제2

In [ ]:
# 로봇기자 만들기

sta=input('경기장: ')
winner=input('이긴팀: ')
loser=input('진팀: ')
vip=input('vip: ')
score=input('스코어: ')
print('-'*60)

print(f'''오늘 {sta}에서 경기가 열렸습니다.
{winner}와(과) {loser}은(는) 치열한 공방전을 펼쳤습니다.
{vip}이(가) 맹활약을 펼쳤습니다.
결국 {winner}이(가) {loser}을(를) {score}로 이겼습니다.''')

경기장: 올림픽경기장
이긴팀: 대한민국
진팀: 일본
vip: 손흥민
스코어: 10:0
------------------------------------------------------------
오늘 올림픽경기장에서 경기가 열렸습니다.
대한민국와(과) 일본은(는) 치열한 공방전을 펼쳤습니다.
손흥민이(가) 맹활약을 펼쳤습니다.
결국 대한민국이(가) 일본을(를) 10:0로 이겼습니다.

In [ ]:
# 광고 만들기

loca=input('지역을 입력해주세요: ')
sale=input('매물종류를 선택해주세요: ')
square=input('평을 입력해주세요: ')
volume=input('방 개수를 입력해주세요: ')
price=input('가격을 입력해주세요: ')
print('-'*60)

print(f'''{loca}에 위치한 아주 좋은 {sale}이(가) 매물로 나왔습니다.
이 {sale}는 {square}평으로 {volume}개의 방을 가지고 있습니다.
가격은 {price}만원 입니다.''')

지역: 노원구
매물종류: 아파트
평: 18
방 개수: 2
가격: 1억 5천
------------------------------------------------------------
노원구에 위치한 아주 좋은 아파트이(가) 매물로 나왔습니다.
이 아파트는 18평으로 2개의 방을 가지고 있습니다.
가격은 1억 5천만원 입니다.

In [ ]:
# 우리팀 홍보하기
tn = input('팀 이름: ')
con = input('팀 컨셉: ')
print(f"""
저희 팀은 '{tn}'팀 입니다.
저희팀은 팀원 각자에게 {con} 컨셉으로 이름을 붙였습니다.
""")

팀 이름: 넘버원
팀 컨셉: 외국계 회사 취직하기

저희 팀은 '넘버원'팀 입니다.
저희팀은 팀원 각자에게 외국계 회사 취직하기 컨셉으로 이름을 붙였습니다.

In [ ]:
# 성적계산 프로그램

name=input('이름을 입력하세요:')
kor=float(input('국어성적을 입력하세요:'))
eng=float(input('영어성적을 입력하세요:'))
math=float(input('수학성적을 입력하세요:'))
avg=(kor+eng+math)/3
print('-'*60)
print(f'{name}님의 평균성적은 {round((avg),2)}점 입니다')

이름을 입력하세요:남가연
국어성적을 입력하세요:90
영어성적을 입력하세요:95
수학성적을 입력하세요:94
------------------------------------------------------------
남가연님의 평균성적은 93.0점 입니다

In [ ]:
# 커피가게 매출 계산하기

ame_price=2000
cafe_price=3000
cafu_price=3500

ame=int(input('아메리카노 판매 갯수:'))
cafe=int(input('카페라떼 판매 갯수:'))
cafu=int(input('카푸치노 판매 갯수:'))
total_income=((ame*ame_price)+(cafe*cafe_price)+(cafu*cafu_price))
print(f'총 매출은 {total_income}원 입니다')

아메리카노 판매 갯수:10
카페라떼 판매 갯수:20
카푸치노 판매 갯수:30
총 매출은 185000원 입니다

In [ ]:
ame = int(input('아메리카노 판매 갯수:'))
cafe = int(input('카페라떼 판매 갯수:'))
cafu = int(input('카푸치노 판매 갯수:'))

ame *= 2000
cafe *= 3000
cafu *= 3500

print(f'총 매출은 {(ame+cafe+cafu)}입니다')

아메리카노 판매 갯수:15
카페라떼 판매 갯수:12
카푸치노 판매 갯수:3
총 매출은 76500입니다

# 문자열

In [ ]:
print( '셀 병합 \n \t \'shift key\'를 누른후 \n \t \t병합을 원하는 셀들을 다중선택 후 shift+M')

셀 병합
 	 'shift key'를 누른후
 	 	병합을 원하는 셀들을 다중선택 후 shift+M

In [ ]:
# 문자열로서의 숫자처리
# 주민번호, 우편번호 등 값이 0으로 시작되는 정수
# 파이썬에서는 정수가 0으로 시작하면 정수값 입력오류로 문법 오류 처리
print('06002')

# 주민번호 예
print(930101-2345466)
print('030101-2345466')

06002
-1415365
030101-2345466

In [ ]:
# join: 문자열을 원하는 글자로 더한다.
# split: 문자열을 원하는 글자로 나눈다.

print('-'.join('Hello World'))
print('Welcome to python'.split(' '))

H-e-l-l-o- -W-o-r-l-d
['Welcome', 'to', 'python']

In [ ]:
a = 8 == 12
print(a,type(a))

b = 'apple' == 'APPLE'
print(b,type(b))

c = 8 != 12
print(c,type(c))

False <class 'bool'>
False <class 'bool'>
True <class 'bool'>

# 팀 예제

In [ ]:
 # 1팀_화씨 섭씨 계산기 심화
print('''연산하고자 하는 
C. 화씨로 섭씨 구하기.
F. 섭씨로 화씨 구하기.
''')
order = input()
if order == 'C' : 
    print("화씨에서 섭씨로 변환하는 수식은, '화씨 = (섭씨-32) * 5/9'이다.")
    print(divider)
    Faren = input('화씨온도: ')
    print(f'섭씨온도: {(float(Faren)-float(32))*float(5)/float(9)}')
elif order == F : 
    print("섭씨에서 화씨로 변환하는 수식은, '섭씨 = (화씨*9/5) +32'이다.")
    print(divider)
    C = input('섭씨온도: ')
    print('섭씨온도: ', (float(C)*9/5) + 32)

연산하고자 하는
C. 화씨로 섭씨 구하기.
F. 섭씨로 화씨 구하기.

C
화씨에서 섭씨로 변환하는 수식은, '화씨 = (섭씨-32) * 5/9'이다.

NameError: ignored

In [ ]:
# 팀 예제

divider = '-' * 50
print('''연산하고자 하는 
C. 화씨로 섭씨 구하기.
F. 섭씨로 화씨 구하기.
''')
order = input()
if order == 'C' : 
    print("화씨에서 섭씨로 변환하는 수식은, '화씨 = (섭씨-32) * 5/9'이다.")
    print(divider)
    Faren = input('화씨온도: ')
    print(f'섭씨온도: {(float(Faren)-float(32))*float(5)/float(9)}')
elif order == 'F' : 
    print("섭씨에서 화씨로 변환하는 수식은, '섭씨 = (화씨*9/5) +32'이다.")
    print(divider)
    C = input('섭씨온도: ')
    print('화씨온도: ', (float(C)*9/5) + 32)

연산하고자 하는
C. 화씨로 섭씨 구하기.
F. 섭씨로 화씨 구하기.

C
화씨에서 섭씨로 변환하는 수식은, '화씨 = (섭씨-32) * 5/9'이다.
--------------------------------------------------
화씨온도: 20
섭씨온도: -6.666666666666667